.image-grid-column {
    flex: 100%;
    max-width: 100%;
}
.image-grid-column .image-grid {
    position: relative;
    vertical-align: middle;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    width: calc(100% - 40px);
}
.image-grid-column .image-grid img {
    width: 100%;
}
.image-grid .controls {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 10px;
    background-color: rgba(255,255,255,0.6);
}
@media (min-width: 768px) {
    .image-grid-column {
        flex: 50%;
        max-width: 50%;
    }
}
@media (min-width: 1200px) {
    .image-grid-column {
        flex: 25%;
        max-width: 25%;
    }
}

.image-grid-column-3 {
    flex: 100%;
    max-width: 100%;
}
.image-grid-column-3 .image-grid {
    position: relative;
    vertical-align: middle;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    width: calc(100% - 40px);
}
.image-grid-column-3 .image-grid img {
    width: 100%;
}
.image-grid.selected {
    background-color: #0069d9;
}
@media (min-width: 768px) {
    .image-grid-column-3 {
        flex: 66.6%;
        max-width: 66.6%;
    }
}
@media (min-width: 1200px) {
    .image-grid-column-3 {
        flex: 33.3%;
        max-width: 33.3%;
    }
}
