.image-grid-column {
    flex: 100%;
    max-width: 100%;
}
.image-grid-column .image-grid {
    position: relative;
    vertical-align: middle;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    width: calc(100% - 40px);
}
.image-grid-column .image-grid img {
    width: 100%;
}
.image-grid .controls {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 10px;
    background-color: rgba(255,255,255,0.6);
}
@media (min-width: 768px) {
    .image-grid-column {
        flex: 50%;
        max-width: 50%;
    }
}
@media (min-width: 1200px) {
    .image-grid-column {
        flex: 25%;
        max-width: 25%;
    }
}

.image-grid-column-3 {
    flex: 100%;
    max-width: 100%;
}
.image-grid-column-3 .image-grid {
    position: relative;
    vertical-align: middle;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    width: calc(100% - 40px);
}
.image-grid-column-3 .image-grid img {
    width: 100%;
}
.image-grid.selected {
    background-color: #0069d9;
}
@media (min-width: 768px) {
    .image-grid-column-3 {
        flex: 66.6%;
        max-width: 66.6%;
    }
}
@media (min-width: 1200px) {
    .image-grid-column-3 {
        flex: 33.3%;
        max-width: 33.3%;
    }
}
.sortable div {
    width: 100%;
    margin: 1em;
    padding: 1em;
    border: 3px solid #2e8ece;
}
.sortable div.hover {
    background-color: #2e8ece;
}
.sortable-placeholder {
    border: 3px dashed #2e8ece !important;
}
.typebutton {
    border: 1px solid black;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #fafafa;
    margin: 1em;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    padding: 1em;
}
.typebutton.pagebreak {
    width: 10em;
}
.typebutton img {
    max-width: 200px;
    padding-bottom: 1em;
}
.typebutton .typename {
    bottom: 0;
    text-align: center;
    width: 100%;
    position: absolute;
    margin-left: -1em;
}
#type_select .buttons {
    position: relative;
    width: 100%;
}
#add_new {
    cursor: pointer;
}