/*
    DEMO STYLE
*/
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

body {
    font-family: 'Source Sans Pro', sans-serif;
    background: #fafafa;
    overflow-x: hidden;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.sidebar-wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar.wide {
    width: 400px;
}

#sidebar.wide.active {
    margin-left: -400px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar img {
    margin: 20px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#sidebarCollapse {
    font-size: 1em;
    margin-top: 0.6rem;
    cursor: pointer;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.narrow {
    width: calc(100% - 400px);
}

#content.active {
    width: 100%;
}

#content.narrow.active {
    width: 100%;
}

#content h1, #content h2, #content h3 {
    font-weight: 700;
}

.route {
    min-width: 20em;
    height: 20em;
    position: relative;
    margin: 1em;
    border: #6d7fcc 1px solid;
    padding: 0.5em;
}

.route:hover {
    background-color: #6d7fcc;
}

.route .bg-img {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    -webkit-filter: blur(2px);
    background-size: cover;
}

.route > .content {
    position: absolute;
    top: 1em;
    right: 1em;
    background-color: rgba(220, 220, 220, 0.75);
    display: block;
    float: right;
    padding: 1em;

}

.route > .content .info {
    font-weight: 700;
    color: #6d7fcc;
    min-width: 16px;
    width: auto;
    text-align: center;
}

.route > .name {
    position: absolute;
    bottom: 1em;
    right: 1em;
    left: 1em;
    height: 2em;
    background-color: rgba(220, 220, 220, 0.75);
    font-weight: 700;
    color: #6d7fcc;
    text-align: center;
    padding: 5px;
    font-size: 1.5em;
}

.filter {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 20px;
}

.filter div.slider {
    width: 140px;
}

.big-color {
    width: 52px;
    height: 35px;
    display: inline-block;
    cursor: pointer;
}

.big-color.selected {
    border: 3px solid black;
}

.big-color.circle-black.selected {
    /*border: 3px solid whitesmoke;*/
}

.circle {
    width: 16px;
    height: 16px;
    border-radius: 25%;
    -moz-border-radius: 25%;
    -webkit-border-radius: 25%;
    border: 1px solid black;
    display: inline-block;
}

.circle-yellow {
    background-color: #fff200;
}

.circle-red {
    background-color: #ff5252;
}

.circle-blue {
    background-color: #3659c6;
}

.circle-white {
    background-color: #f1f2f6;
}

.circle-green {
    background-color: #20bf6b;
}

.circle-turqoise {
    background-color: #55e6c1;
}

.circle-black {
    background-color: #2f3542;
}

.circle-grey {
    background-color: #808e9b;
}

.circle-purple {
    background-color: #8e44ad;
}

.circle-orange {
    background-color: #fa8231;
}

.circle-pink {
    background-color: #FC427B;
}

.circle-ochre {
    background-color: #ffa801;
}

.circle-skin {
    background-color: #FEA47F;
}

.circle-light-green {
    background-color: #32FF7E;
}

.circle-yellow-flecked {
    background: repeating-radial-gradient(
            circle at -30px -50px,
            #E9D243,
            #E9D243 5px,
            #5D541B 5px,
            #5D541B 10px
    );
}

.circle-green-flecked {
    background: repeating-radial-gradient(
            circle at 55px 90px,
            #05c46b,
            #05c46b 5px,
            #B4E420 5px,
            #B4E420 10px
    );
}

.clickzone, .zone {
    cursor: pointer;
    fill-opacity: 0;
}

.zone.active {
    fill-opacity: 1;
}

/* ---------------------------------------------------
    SURVEY
----------------------------------------------------- */
#survey, #spacer {
    position: relative;
}

.pagewrapper {
    width: 100%;
}

button[disabled] {
    cursor: not-allowed;
}

.formelement {
    padding-bottom: 0.5em;
}

.badge {
    font-size: 0.5em;
    margin-right: 2em;
}

.page.finished h3 {
    width: 100%;
    text-align: center;
}

.page.finished button {
    width: 10em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

.progress-bar {
    -webkit-transition: width 1.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);;
    transition: width 1.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);;
}

.formelement input:not([type=radio]):not(   [type=checkbox]), .formelement textarea, .formelement .starrating {
    width: 100%;
}

.starrating {
    margin-left: auto;
}

.starrating > input {
    display: none;
}

.starrating span {
    padding: 10px;
}

/* Remove radio buttons */

.starrating > label:before {
    content: "\f005"; /* Star */
    margin: 2px;
    font-size: 1.5em;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    display: inline-block;
}

.starrating > label {
    color: #222222; /* Start color when not clicked */
}

.starrating > input:checked ~ label {
    color: #ffca08;
}

/* Set yellow color when star checked */

.starrating > input:hover ~ label {
    color: #ffca08;
}

/* ---------------------------------------------------
    FINISHED
----------------------------------------------------- */

#finished {
    text-align: center;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    min-height: 100vh;
}

#finished_wrapper {
    background-color: #8597ee;
    min-width: 100vw;
    min-height: 100vh;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #content {
        width: 100%;
    }

    #content.active {
        width: calc(100% - 250px);
    }

    #sidebar.wide {
        margin-left: -400px;
    }

    #sidebar.active.wirde {
        margin-left: 0;
    }

    #content.narrow {
        width: 100%;
    }

    #content.active.narrow {
        width: calc(100% - 400px);
    }
}